@font-face {
    font-family: "Mon-R";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Mon-B";
    src: url(../fonts/Montserrat-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #b845e5, #ff8c80);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 880px;
    width: 860px;
    background-color: #373656;
    border-radius: 20px;
    box-shadow: 18px 18px 20px rgba(0,0,0,0.27);
    padding: 0 190px;
    background-image: url(../img/cloud1.svg);
    background-repeat: no-repeat;
    background-position: -40px 685px; 
    background-size: 115%;
    position: relative;
    overflow: hidden;
}

.container::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/cloud2.svg);
    width: 100%;
    height: 100%;
    background-size: 115%;
    left: 0;
    opacity: 80%;
    background-position: -50px 50px;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Mon-B";
    font-size: 58px;
    text-align: center;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(90deg,#da5596, #ff8c80);
    margin-top: 115px;
    margin-bottom: 20px;
}

.for-input input{
    width: 100%;
    text-indent: 20px;
    height: 55px;
    background-color: #4c4c71;
    border-radius: 10px;
    text-shadow: none;
    outline-style: none;
    text-indent: 40px;
    cursor: text;
    border-style: none;
    vertical-align: top;
    margin-top: 12px;
    font-size: 16px;
    font-family: "Mon-R";
}

.for-input input::placeholder {
    color: #8585ae;
}

.register {
    display: flex;
    background-image: linear-gradient(90deg,#ce6dfb, #6965f2);
    width: 230px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    font-family: "Mon-R";
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline-style: none;
    border-style: none;
}

.reset {
    display: flex;
    background-image: linear-gradient(90deg,#da5596, #ff8c80);
    width: 230px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    font-family: "Mon-R";
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline-style: none;
    border-style: none;
}

.knopki {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

